{% extends 'layout.html' %}

{% block title %}Blog Index{% endblock %}

{% block content %}

    <!-- blog post-->

    {% for d in data %}
    <div class="card mb-4">
        <a href="#!">
            <img class="card-img-top" src="{{ d.img }}">
        </a>
        <div class="card-body">
            <h2 class="card-title">{{ d.title }}</h2>
            <p>{{ d.snippet }}</p>
            <a class="btn btn-primary" href="{{ d.link }}" target="_blank" style="display:none">Read more →</a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{ d.id }}">
              Read more →
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{ d.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ d.title }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                <img class="card-img-top" src="{{ d.img }}" style="margin:10px">

                {{ d.article|safe }}

          </div>
          <div class="modal-footer" style="display:none">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

{% endblock %}